.Playground.maximized {
  overflow: hidden;
  max-height: 100vh;
  position: relative;
}

.header {
  margin: 5px 20px;
  transition: max-height 0.1s ease-in, margin 0.1s ease-in;
  max-height: initial;
  height: auto;
  max-height: 100vh;
}

.header .title {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.header .title .menu {
  text-align: right;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .title .menu a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  background: #383838;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.header .title .menu a:hover {
  background: #4f4f4f;
}

.Playground.maximized .header {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition: max-height 0.1s ease-out, margin 0.1s ease-out;
}

.Playground.maximized .header h1,
.Playground.maximized .header h2 {
  margin: 0;
  transition: max-height 0.1s ease-out, margin 0.1s ease-out;
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

form {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

form div {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 12px;
}

form div.error {
  color: #ff4e4e;
  margin-left: 5px;
  font-weight: 400;
  font-size: 14px;
}

form div.error p {
  margin-top: 5px;
  margin-bottom: 5px;
}

form div.error p a {
  margin-left: 4px;
  color: #ff4e4e;
}

form input {
  margin: 0 5px;
  padding: 10px;
  width: 270px;
  border: none;
  border-radius: 3px;
  height: 10px;
}

form input[type='checkbox'] {
  width: 18px;
  margin-left: 5px;
  height: 15px;
}

form input::placeholder {
  opacity: 0.7;
}

form input:disabled {
  opacity: 0.8;
}

.isProxy {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.isProxy a {
  border: 1px solid #62aee2;
  color: #62aee2;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  margin-left: 2px;
  font-weight: 600;
}

.icon.trash {
  width: 22px;
  height: 22px;
  border-radius: 0 0 3px 3px;
  border-top: none;
  margin: 0px 2px 0px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
  color: #c18871;
  background: #c18871;
  transform: scale(0.5);
  cursor: pointer;
  min-width: 20px;
}

.icon.trash:hover {
  color: #ea8787;
  background: #ea8787;
}

.icon.trash:before {
  content: '';
  width: 8px;
  height: 2px;
  top: -6px;
  box-shadow: inset 0 0 0 32px, -10px 2px 0 0, -6px 2px 0 0, 0 2px 0 0,
    6px 2px 0 0, 10px 2px 0 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 678px) {
  .Playground.maximized {
    overflow: unset;
    max-height: 100%;
  }

  .header .title .menu {
    display: none;
  }

  form div.error {
    font-size: 12px;
  }
}
