:root {
  --text: #dddddd;
  --dark-background: #383838;
  --blue: #63aee3;
  --error: #ff4e4e;
  --monaco: #1d1d1d;
  --input: #424242;
}

html {
  font-family: 'Open Sans', sans-serif;
  background: #222222;
  color: var(--text);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: var(--error);
}
